body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container {
  width: 45%;
  background-color: #ffccff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

h2 {
  color: #333;
}
